<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Lista de publicaciones</title>
    <link rel="stylesheet" href="/css/products-list.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="row">
        <% products.forEach(element => { %>
        <a href="/products/<%= element.id %> ">
          <div class="product-box">
          <section class="product-left">
            <div
              class="product-img"
              style="background-image: url(<%= element.image %>)"
            ></div>
          </section>
          <section class="product-right">
            <div class="product-text">
              <h3><%= element.name %></h3>
              <p><%= element.location %></p>
              <h2>$ <%= element.price %> /Hora</h2>
            </div>
            <div class="delete">
              <form action="/products/<%= element.id %>?_method=DELETE" method="POST">
                <button type="submit" >Borrar</button>
              </form>
            </div>
          </section>
        </div>
      </a>
        <% }) %>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
