<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/ProductDetail.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="product-detail">
        <section class="product-detail-top">
          <div
            class="product-img"
            style="background-image: url('<%= products.image %>')"
          ></div>
        </section>
        <section class="product-detail-bottom">
          <div class="bottom-text">
            <h3><%= products.name %></h3>
            <p><%= products.location %></p>
            <h2>$ <%= products.price %> /HORA</h2>
          </div>
          <div class="edit-button">
            <a href="/products/<%= products.id %>/edit"><input type="button" value="EDITAR"></a>
          </div>
          <div class="reserve-button">
            <input type="submit" value="RESERVAR" class="button" />
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
